ul.section-reviews__list
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-1.png')")
      .review__hover
        h2.review__title Александра Горнова
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-2.png')")
      .review__hover
        h2.review__title Константин Спилберг
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-3.png')")
      .review__hover
        h2.review__title Кристина Павлова
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-4.png')")
      .review__hover
        h2.review__title Иван Нарзов
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-5.png')")
      .review__hover
        h2.review__title Майк Анкридж
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-6.png')")
      .review__hover
        h2.review__title Ксения Аврелина
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-7.png')")
      .review__hover
        h2.review__title Стивен Пилберг
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo(style="background-image: url('./images/content/reviews/review-8.png')")
      .review__hover
        h2.review__title Джаред Винтер
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          a.review__view(href="#full") Подробнее