.section-form {
  background: url('../images/background/bg-section-8.png') 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  .section__title {
    text-align: center;
  }
}

.section-form__content {
  margin-left: -5%;
  display: flex;
}

.section-form__column {
  width: 45%;
  margin-left: 5%;
}

.section-form__row {
  margin-bottom: rem(16px);
  margin-left: -10px;
  display: flex;
}

.section-form__block {
  display: block;
  width: 100%;
  flex: 1;
  margin-left: 10px;
}

.section-form__label {
  margin-bottom: rem(17px);
  @include ubuntu();
  color: #fff;
  font-size: rem(14px);
}

.section-form__input {
  font-size: rem(14px);
  padding: rem(10px);
  padding: rem(5px) rem(10px);
  border: rem(1px) solid #d1cfcb;
  border-radius: rem(5px);
  width: 100%;
}

.section-form__textarea {
  height: rem(110px);
  resize: none;
}

.section-form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: rem(20px);
  cursor: pointer;
  display: flex;
}

.section-form__radio-elem {
  position: absolute;
  top: 0;
  left: rem(-9999px);
}

.section-form__radio-fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.section-form__radio-elem:checked {
  &+.section-form__radio-fake {
    &:after {
      width: rem(8px);
      height: rem(8px);
    }
  }
}

.section-form__radio-title {
  font-weight: normal;
  font-size: rem(14px);
  color: #fff;
  margin-left: rem(10px);
}

.section-form__radio--checkbox {
  .section-form__radio-fake {
    border-radius: rem(0px);
  }
  .section-form__radio-elem {
    &+.section-form__radio-fake {
      &:after {
        background: transparent;
      }
    }
  }
  .section-form__radio-elem:checked {
    &+.section-form__radio-fake {
      &:after {
        background: url("../images/icon/check.png") 50% no-repeat transparent;
        background-size: contain;
        width: rem(11px);
        height: rem(9px);
      }
    }
  }
}

.section-form__button {
  margin-right: rem(20px);
  border: 0;
  background: $red;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  @include ubuntu(middle);
  padding: rem(10px) rem(15px);
  cursor: pointer;
}

.section-form__button--reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}