//resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

html {
  @include tablets {
    font-size: rem(15px);
  }
  @include phones {
    font-size: rem(13px);
  }
}

.header__menu {
  @include tablets() {
    display: none;
  }
}

.section-welcome__content {
  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20%;
  }
}

.section-welcome__left,
.section-welcome__right {
  @include tablets() {
    float: none;
    width: auto;
  }
}

.section-welcome__right {
  @include tablets() {
    padding-top: 0;
  }
}

.hamburger-button {
  @include tablets() {
    display: flex;
  }
}

.section-we__list {
  @include phones {
    flex-direction: column;
  }
}

.section-we__item {
  @include phones {
    flex-direction: row;
  }
}

.section-reviews__item {
  @include tablets {
    flex-basis: 50%;
    height: 25%;
  }
}

.review__hover {
  @include tablets {
    font-size: rem(11px);
    padding: 0 12%;
    text-align: center;
  }
}

.review__title {
  @include tablets {
    margin-top: rem(14px);
    margin-bottom: rem(14px);
  }
}

.review__text {
  @include phones {
    display: none;
  }
}