.mobile
  .mobile__top
    .logo
      img.logo__icon(src="./images/icon/logo.svg", alt="Mr. Buurger")
    button.mobile__close(type="button")
  nav.mobile__mobile-nav
    ul.mobile-nav__list
      li.mobile-nav__item
        a.mobile-nav__link(href="") о нас
      li.mobile-nav__item
        a.mobile-nav__link(href="") бургеры
      li.mobile-nav__item
        a.mobile-nav__link(href="") команда
      li.mobile-nav__item
        a.mobile-nav__link(href="") меню
      li.mobile-nav__item
        a.mobile-nav__link(href="") отзывы
      li.mobile-nav__item
        a.mobile-nav__link(href="") контакты