extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'home'
block content
  .wrapper
    main.main
      section.main__section-welcome.section-welcome
      section.main__section-we.section-we
      section.main__section-burgers.section-burgers
      section.main__section-team.section-team
      section.main__section-menu.section-menu
      section.main__section-reviews.section-reviews
      section.main__section-howwork.section-howwork
      section.main__section-form.section-form
      section.main__section-contacts.section-contacts
            
