extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'home'
block content
  .wrapper
    main.main
      section.section.main__section-welcome.section-welcome
        .container
          include ../sections/_section-welcome.pug
      section.section.main__section-we.section-we
        .container
          include ../sections/_section-we.pug
      section.section.main__section-burgers.section-burgers
      section.section.main__section-team.section-team
        include ../sections/_section-team.pug
      section.section.main__section-menu.section-menu
      section.section.main__section-reviews.section-reviews
        include ../sections/_section-reviews.pug
      section.section.main__section-howwork.section-howwork
      section.section.main__section-form.section-form
      section.section.main__section-contacts.section-contacts
    nav.pagepanel
      ul.pagepanel__list
        li.pagepanel__item
          button.pagepanel__button.pagepanel__button--active
        each item in [1,2,3,4,5,6,7]
          li.pagepanel__item
            button.pagepanel__button
            
