extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'home'
block content
  .wrapper
    main.main
      section.section.main__section-welcome.section-welcome
        .container
          include ../sections/_section-welcome.pug
      section.section.main__section-we.section-we
        .container
          include ../sections/_section-we.pug
      section.section.main__section-burgers.section-burgers
      section.section.main__section-team.section-team
      section.section.main__section-menu.section-menu
      section.section.main__section-reviews.section-reviews
        include ../sections/_section-reviews.pug
      section.section.main__section-howwork.section-howwork
      section.section.main__section-form.section-form
      section.section.main__section-contacts.section-contacts
            
